
/* Jumbotron */
.jumbotron{
    height: 150px !important;
    text-align: center;
    padding-top: 1px !important;
}
/* wrapper */
.container{
    background-image: url(../images/background.jpg);
    width: 100%;
}

body{
    background-image: url(../images/background.jpg);
    background-color: black;
}
.wrapper{
    background-color: rgba(255, 255, 255, 0.795);
}
/*Questions*/

.answerButtons{
    margin-top: 45px!important;
    vertical-align: center;
    line height: 500px;
    text-align: center;
}
#question1{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question2{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question3{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question4{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question5{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question6{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question7{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question8{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question9{
    position: absolute;
    width: 95%;
    height: 95%;
}
#question10{
    position: absolute;
    width: 95%;
    height: 95%;
}
/* Actual buttons */
.q1 {
    visibility: hidden;
    z-index: 1;
  
}

.q2{
    visibility: hidden;
    z-index: 2;
}
.q3{
    visibility: hidden;
    z-index: 3;
}

.q4{
    visibility: hidden;
    z-index: 4;
    
}

.q5{
    visibility: hidden;
    z-index: 5;
}

.q6{
    visibility: hidden;
    z-index: 6;
}

.q7{
    visibility: hidden;
    z-index: 7;
}

.q8{
    visibility: hidden;
    z-index: 8;
}

.q9{
    visibility: hidden;
    z-index: 9;
}

.q10{
    visibility: hidden;
    z-index: 10;

}

/* Show Answer and Next*/
h2{
    vertical-align: middle;
    visibility: visible;
    text-align: center;
    text-shadow: 1px 1px rgb(128, 121, 121);
    margin-bottom: 0px;
    
    
}

#next{
   visibility: hidden; 
   width: 100% !important; 
   z-index: 12;
   margin-top: 15px;
  
}

.start{
    visibility: visible;
   margin-top: 0px !important;
   margin-bottom: 10px;
   z-index: 15;
   position: relative;
}

#timer{
    visibility: visible;
    background-color: rgb(0, 183, 255);
    width: 10%;
    margin: 0 auto;
    border: black 1px solid;
    font-weight: bolder;
}

#quizImage{
    margin-top: 45px;
}
#finish{
    margin-top: 15px;
}